* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #F6F6F6;
}

.cursor{
    cursor:pointer !important;
}

.section-table { 
    margin: 0 0 0  0;
    display: flex;
    
}

.section-table-container {
    width: 100%;
    max-width: 1600px;
    max-height: 500px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.section-table-container::-webkit-scrollbar {
   
    height: 8px;
    width: 8px;
}

.content-table {
    white-space: nowrap;
    width: 100%;
		border-collapse: collapse;
}

.content-table tbody tr {
     border: 1px solid #E9E9E9;
}
.content-table thead{
      border-top: 1px solid #E9E9E9;
}
.content-table thead tr th {
    padding: 16px 10px 16px 40px;
    position:sticky;
    top: 0;
   font-family: "Circular Std";
  font-size: 14px;
  font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #F2F2F2;
    color: #333333;
    background-color: #FFFFFF;
    z-index: 2;
}

.content-table thead tr th:nth-child(1) {
    position:sticky;
    
    top: 0;
    left: 0;
    z-index: 3;
}

.content-table tbody tr td {
    padding:5px 10px 5px 40px;
    height: 45px;
    font-family: "Circular Std";
  font-size: 14px;
  font-weight: 300;
  cursor:move;
    color: #999999;
    background-color: #FFFFFF;
}

.content-table tbody tr td:nth-child(1) {
    position:sticky;
    top: 0;
    left: 0;
    color: #666666;
    z-index: 1;
}
.color-icon{
    color:#FD5555;
}
